# API
fastapi
uvicorn
gunicorn
python-multipart

# Scheduler
APScheduler
pytz

# YouTube Data Collection
google-api-python-client
google-auth
google-auth-httplib2
httplib2
youtube-transcript-api
isodate
langdetect

# LLM and RAG
langchain
langchain-core
langchain-chroma
langchain-cohere
langchain-groq
langchain-community
langchain-text-splitters
chromadb
pysqlite3-binary
exa-py

# Embeddings and Generation
cohere
groq

# MongoDB
pymongo

# Utilities
python-dotenv
requests
tenacity
python-dateutil
pandas
numpy
beautifulsoup4
regex
tqdm
rich

# Proxy
httpx
aiohttp
