# API
fastapi
uvicorn
python-multipart
gunicorn

# Scheduler
APScheduler
pytz

# YouTube Data Collection
google-api-python-client
google-auth
google-auth-httplib2
httplib2
youtube-transcript-api
isodate
langdetect

# LLM and RAG
langchain
langchain-core
langchain-chroma
langchain-cohere
langchain-groq
langchain-community
langchain-text-splitters
chromadb==0.4.24

# Embeddings and Generation
cohere
groq

# MongoDB
pymongo

# Utilities
python-dotenv
requests
tenacity
python-dateutil
pandas==2.2.1
numpy==1.26.4
beautifulsoup4
regex
tqdm
rich

# Proxy
httpx
aiohttp
